.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.info-link{
    color: #E58411;
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}


.navbar-nav .nav-link {
    color: #fff !important;


}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
    color: #fff !important;
}


.hero-section {
    background: url('/assets/images/hero.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: white;
    text-align: center;
}


.hero-section h1{
    font-size: 54px;
    font-weight: 700;
    margin-top: 20%;
    max-width: 20ch;
}

.hero-section p{
    font-size: 18px;
    font-weight: 500;
    max-width: 42ch;
    margin: 20px auto;
}

.home-about-section .card-title{
    margin-bottom: 12px;
}

.product-card-section{
    background-color: #F7F7F7;
    padding-block: 42px;
}

.product-card-section-heading h1{
    padding-block: 32px;
    text-align: center;
}

.about-card-section .info{
    padding-inline: 80px;
}

.footer{
     background-color: #F7F7F7;
   
}

.footer li a{
color: #1E1E1E;   
}